<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cp.css">
</head>
<body>
    <h1>Thêm mới danh mục</h1>
    <form action="/categories" method="post" class="createForm">

        <input name ="name" type="text" placeholder="Tên danh mục"> 
        <input name="createTime" type="text" placeholder="Thời gian tạo">
        <input name="updateTime" type="text" placeholder="Thời gian cập nhật">
        <input name="status" type="text" placeholder="Trạng thái">
        <input name="productIds" type="text" placeholder="id sản phẩm">
        <button>Tạo mới</button>
    </form>
</body>
</html>