<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cp.css">
</head>
<body>
    <h1>Thêm mới danh mục</h1>
    <form action="/categories" method="post" class="createForm">

        <input name ="name" type="text" placeholder="Tên danh mục"> 
        <select  name="status" id="">
            <option value="">Trạng thái</option>
            <option value="Hoạt động">Hoạt động</option>
            <option value="Tạm ngừng">Tạm ngừng</option>
        </select>
        <input name="productIds" type="text" placeholder="id sản phẩm">
        <button>Tạo mới</button>
    </form>
    <button><a href="category-list">Quay lại</a></button>
</body>
</html>