<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cp.css">
</head>
<body>
    <h1>Thêm mới sản phẩm</h1>
    <form action="/products" method="post" class="createForm">
        <input name ="picture" type="text" placeholder="Ảnh"> 
        <input name ="name" type="text" placeholder="Tên sản phẩm"> 
        <input name ="description" type="text" placeholder="Mô tả"> 
        <input name ="price" type="text" placeholder="Giá"> 
        <input name ="ammount" type="text" placeholder="Số lượng"> 
        <select  name="status" id="">
            <option value="">Trạng thái</option>
            <option value="Hoạt động">Hoạt động</option>
            <option value="Tạm ngừng">Tạm ngừng</option>
        </select>
        <button>Tạo mới</button>
    </form>
</body>
</html>