<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cp.css">
    <style>
        .createForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 300px;
    font-weight: 700;
}
    </style>
</head>
<body>
    <h1>Sửa danh mục</h1>
    <form action="/category-list/update" method="post" class="createForm">
        <input type="hidden" name="id" value="<%=categories[0].id%>">
       Tên danh mục: <input name ="name" type="text" value="<%=categories[0].name%>"> 
       Trạng thái:<select  name="status" id="">
        <option value="Hoạt động">Hoạt động</option>
        <option value="Tạm ngừng">Tạm ngừng</option>
    </select>
        ID sản phẩm:<input name="productIds" type="text" value="<%=categories[0].productIds%>" >
        <button>Cập nhật</button>
    </form>
    <form action="/category-list" method="GET"><button>Quay lại</button></form>
</body>
</html>